body { 
    text-align: center;
} 

table.turn {
	 
    float: right;

}
table.score {
	 
    float: left;

}
table, th, td {
    border: 1px solid black;
}

th.align {
	text-align: center; 
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid blue;
    padding: 10px;
}

.center1 {
    margin: auto;
 
    padding: 10px;
}